<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Listagem de livros</h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Título</td>
            </tr>

             <tr for (livros in data.livros)>
                <td>${livros.id}</td>
                <td>${livros.titulo}</td>
            </tr>
        </table>
    
    </body>
</html>